.jumbotron
  background: #73146E
  color: #FFF

.jumbotron h1
  font-size: 100px

.jumbotron .lead
  color: rgba(255, 255, 255, .8)

.btn-outline-inverse
  background: transparent
  color: #F4CC05
  border-color: #F4CC05
  border-width: 2px

.btn-outline-inverse:hover
  color: #73146E
  background: #F4CC05

#output
  border-bottom: 115px solid #FFF

.output
  margin: 1px 0
  padding: 15px 30px 15px 15px
  border-left: 5px solid #EEE


