!!!
html(lang='en')
  head
    meta(charset='utf-8')
    title Primus Live Example
    link(rel='stylesheet',href='/style.css')

  body
    h1 Server time
    p#tick

    script(src='/primus/primus.js')
    script(src='/app.js')
